* {
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0;
}

.square{
  width: 48px;
  height: 48px;
  border: 1px solid black;
  font-family: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.board{
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  width: 148px;
  height: 144px;
}